

body {
    font-family: Verdana, Geneva, sans-serif
    font-weight: 100;
	color:#717171;
}

.list-group-item-heading, .list-group-item-text, .col-sm-4 {
	font-weight: 100;
}

.half {
	width:50%
}

.img-responsive{
margin: 0 auto;
padding: 0px;
}

.col-xs-6{
font-size: 75%;}

.row {
    display: table;
}



input{
    background-color: #ffffff;
    border-radius:6px;
    color: #0033CC;
    font-family: Verdana, Geneva, sans-serif
    font-size: 20px;
    text-decoration: none;
    
}