p, form {
    font-family: Verdana, Geneva, sans-serif
}

h1,h2,h3,h4 {
    font-weight: 100;
	color:#717171;
}

.list-group-item-heading, .list-group-item-text, .col-sm-4 {
	font-weight: 100;
}

.half {
	width:50%
}

input{
    background-color: #ffffff;
    border-radius:6px;
    color: #0033CC;
    font-family: Verdana, Geneva, sans-serif
    font-size: 20px;
    text-decoration: none;
    
}